@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --background-secondary: #EAEAEA; /*for cards*/
  --primary-text: #333333; /*For main text*/
  --secondary-text: #666666; /*Less important text*/
  --borders: #d1d1d1;
  --highlight: #a8a8a8; /*Any highlights*/
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --background-secondary: #2b2b2b;
    --primary-text: #eaeaea;
    --secondary-text: #b3b3b3;
    --borders: #3f3f3f;
    --highlight: #cccccc;
    box-sizing: border-box;
  }
}

.dark {
  --background: #1E1E1E;
  --background-secondary: #2b2b2b;
  --primary-text: #eaeaea;
  --secondary-text: #b3b3b3;
  --borders: #3f3f3f;
  --highlight: #cccccc;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overscroll-behavior: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ensure full height for dynamic viewport height issues on iOS */
html, body {
  min-height: -webkit-fill-available; /* Fallback for older iOS versions */
  height: 100dvh; /* Modern dynamic viewport height unit */
}

main {
  overscroll-behavior: auto;
}