@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #fff;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%; /* Ensures the elements span the full height */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; /* Allows stacking content vertically */
  width: 100%;
  min-height: 100vh; /* Ensures the body takes the full height of the viewport */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow: auto; /* Allows scrolling if content exceeds height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}